<% include  ../partials/header %>
	 
 
	 
	<h3><%= title %></h3>
 

         <p> 

The motd comment at the bottom of the page is a demonstration of middleware
for node (aka filter in the java world). This is set up in the express.js
via the <b>app.use</b> command. and uses session for persistence. See
motd.js for more information 



</p>

<p> This also uses the locals object of the response to make information
available to the view engine</p>




 
 <% include  ../partials/footer %>