  <% include  ../../partials/header %>
      <link href="js/restaurant/restaurantStyles.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

      <h3>Angular2 Restaurant App</h3>  <span class="pull-right"><a target="_new" href="https://github.com/donhenton/angular2-restaurant">source</a></span>

        <div>get a restaurant job</div>



 
<% include  ../../partials/footer %>             