<% include  ../partials/header %>
	 
 
	 
	<h3><%= title %></h3>


        <div class="row">
        <div class="well  col-sm-12">
           This is demonstration of securing pages in Express using 
                <a href="http://passportjs.org">Passport</a>.  
        </div>
       </div>
       <p>&nbsp;</p>
        <div class="row">
        
            
             Click here to access   <a href="/securePage.doc">Secured Content</a>.  
         
       </div>





 <% include  ../partials/footer %>
