<% include  ../partials/header %>
	 
 
	 
	<h3><%= title %></h3>


        <div class="row">
        <div class="well  col-sm-12">
           This is demonstration of securing pages in Express using 
                <a href="http://passportjs.org">Passport</a>.  
        </div>
       </div>
       <p>&nbsp;</p>
        <div class="row">
        
            <ul>
             <li>Click here to access   <a href="/secureLocalPage.doc">Secured Content</a>. <i>(This is through a single secured route where the passport check is on the route)</i></li>
             <li>Click here to access   <a href="/secure/targetPage.doc?alpha=geta%20job&beta=35">Secured Content</a>. <i>(This is through the secureChecker  middleware which inspects the path and passes any querystring)</i></li>
            </ul>
       </div>





 <% include  ../partials/footer %>
