/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 

.outline
 {
      border: thin solid teal;
      margin: 5px;
      padding: 5px;
 }

 
 .separator
 {
     margin-bottom: 7px;
     margin-top: 7px;
 }
 
 .scrollList
{

    overflow-y: auto;
    height: 200px

}