/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 

/* restaurant */

.ptrClass {cursor:pointer }

.editRow {  cursor:pointer }
.scrollList td.currentUserRow
{
    color: white;
    background-color: blue;

}

.scrollList
{

    overflow-y: auto;
    height: 200px

}

/* restaurant */

.outline
 {
      border: thin solid teal;
      margin: 5px;
      padding: 5px;
 }

 
 .separator
 {
     margin-bottom: 7px;
     margin-top: 7px;
 }
 
 
  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
 

.ptrClass {cursor:pointer }

.restaurantErrorPanel
{
     
    color: red;
    font-weight:bold;
    font-style: italic;
/*    padding:2px;
    margin-top:5px;*/
}