<% include  ../partials/header %>
<h3><%= title %></h3>

 


 
 



      
        <link href="js/morge-app/components/folder/folder.css" rel="stylesheet" type="text/css"/>
        <link href="js/morge-app/sections/main/main.css" rel="stylesheet" type="text/css"/>
        <link href="js/morge-app/sections/load-folders/load-folders.css" rel="stylesheet" type="text/css"/>
        <link href="js/morge-app/sections/folder-contents/folder-contents.css" rel="stylesheet" type="text/css"/>
        <link href="js/morge-app/sections/edit-folder/edit-folder.css" rel="stylesheet" type="text/css"/>
        <script  src="js/morge-app/assets/pinterest/pinit.js" data-pin-build="parsePinBtns"></script>

    

        <div ng-app="app">
            <main class="main-container container" ng-view></main>
        </div>


  <script>
        g_morgueUrlBase = "http://"+window.location.host + "/morguefile/"
       

    </script>
        <script src="js/morge-app/assets/js/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="js/morge-app/assets/js/angular/angular.min.js"></script>
        <script src="js/morge-app/assets/js/angular-route/angular-route.min.js"></script>
        <script src="js/morge-app/assets/js/angular-animate/angular-animate.min.js" type="text/javascript"></script>
        <script src="js/morge-app/assets/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="js/morge-app/assets/js/angular-local-storage/dist/angular-local-storage.min.js" type="text/javascript"></script>
        <script src="js/morge-app/assets/js/angular-messages/angular-messages.min.js" type="text/javascript"></script>
        <script src="js/morge-app/assets/js/angular-deckgrid/angular-deckgrid.js" type="text/javascript"></script>

        <script src="js/morge-app/app/app.constants.js" type="text/javascript"></script>
        <script src="js/morge-app/app/app.js"></script>
        <script src="js/morge-app/app/app.routes.js"></script>
        <script src="js/morge-app/app/app.services.js" type="text/javascript"></script>
        
        <script src="js/morge-app/services/utils.fct.js" type="text/javascript"></script>
        <script src="js/morge-app/services/boards.fct.js" type="text/javascript"></script>
        <script src="js/morge-app/services/folders.fct.js" type="text/javascript"></script>
       <!-- <script src="js/morge-app/services/show.fct.js" type="text/javascript"></script> -->
        <script src="js/morge-app/services/dialogs.fct.js" type="text/javascript"></script>
        
        <script src="js/morge-app/sections/edit-folder/edit-folder.ctl.js" type="text/javascript"></script>
        <script src="js/morge-app/sections/folder-contents/folder-contents.ctl.js" type="text/javascript"></script>
        <script src="js/morge-app/sections/load-folders/load-folders.ctl.js" type="text/javascript"></script>
        <script src="js/morge-app/sections/dialogs/editfolder.ctl.js" type="text/javascript"></script>
        <script src="js/morge-app/sections/main/main.ctl.js" type="text/javascript"></script>     
        <script src="js/morge-app/sections/dialogs/confirm.ctl.js" type="text/javascript"></script>
        <script src="js/morge-app/sections/browse-images-not-used/browse-images.ctl.js" type="text/javascript"></script>

        <script src="js/morge-app/components/url-checker/url-checker.drct.js" type="text/javascript"></script>
        <script src="js/morge-app/components/folder/folder.drct.js" type="text/javascript"></script>
        <script src="js/morge-app/components/image-widget/image-widget.drct.js" type="text/javascript"></script>
 














<% include  ../partials/footer %>