                 <!-- begin footer -->   

                 <div class="motd">
                 <%=  motd %> (from <i>motd.js</i>)
                 </div>
                </div>
            </div>
        
        </div>
    </div>
</body>
</html>

 