                 <!-- begin footer -->   

                 
                </div>
                    <div class="motd">
                     <%=  motd %> (from <i>motd.js</i>)
                     </div>
            </div>
        
        </div>
    </div>
</body>
</html>

 