 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title><%= title %></title>

        <!-- CSS  -->
         <link href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <div class="bodyContainerDiv">


            <nav class="light-blue lighten-1" role="navigation">
                <div class="container">
                    <div class="nav-wrapper"><a id="logo-container" href="/" class="brand-logo">Node Demo Application</a>
                        <ul id="nav-mobile" class="right side-nav">
                            <li><a href="/newPage.doc">New Page Notes</a></li>
                            <li><a href="/windows.doc">Windows Notes</a></li>
                        </ul>
                        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    </div>
                </div>
            </nav>



            <main>
                <div class="section"> 

                    <!-- end header ejs -->  