<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


        <title><%= title %></title>

        <!-- CSS-->

        <link href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="css/style.css" rel="stylesheet" type="text/css">

    <body class="blue lighten-5">
        <header>
            <div class="container"><a href="#" data-activates="nav-mobile" class="left button-collapse top-nav"><i class="mdi-navigation-menu medium  white-text blue"></i></a></div>
            <ul id="nav-mobile" class="side-nav fixed">
                <li class="bold"><a href="/" class="waves-effect waves-teal">
                    <i class="mdi-action-home left"></i>Home
                </a></li>
                 <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header  waves-effect waves-teal">
                           
                           <i class="mdi-navigation-arrow-drop-down left"></i>Notes</a>
                            <div class="collapsible-body" style="">
                                <ul>
                                   <li><a href="/newPage.doc">New Page Notes</a></li>
                                   <li><a href="/windows.doc">Windows Notes</a></li>
                                     
                                </ul>
                            </div>
                        </li>
                        
                  </ul>
                </li>
                <li class="bold"><a href="/embeddedJS.doc">Template Demo</a></li>
                
            </ul>
        </header>
        <div id="mainContainer" class="container">

            <div class="row">
                <div class="col offset-s2 s12"  id="contentDiv">
                    <!-- begin content -->
