<% include  ../partials/header %>

<style>
#resultArea
{
   width: 400px;
   height: 200px;

}

</style>



<h3><%= title %></h3>
<div class="row">
<div class="col-sm-6">
<table class="table table-striped">
            <tr>
                <td><div id="horizontalMain"></div></td>
            </tr>
            <tr>
                <td>
                     <button onClick="showEmailDialog()" id="mailData" class="spacer pull-right btn btn-primary">Mail Graph</button>
                    <button id="updateHorizontalData" class="spacer pull-left btn btn-primary">Update Data</button></td>
            </tr>
</table>
</div>
<div class="col-sm-6">
<h4>Results</h4>

<div class="alert-success" id="successArea"></div>
<div class="alert-danger" id="dangerArea"></div>

</div>

</div>

<div id="mailAddressModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="emailAddress" onkeyUp="validateEmail(this)" name="emailAddress" type="email"  length="50" size="50" class="form-control" name="email" placeholder="buzz@buzz.com">
 
  </div>


        
      </div>
      <div class="modal-footer">
        <button id="dialogMailButton" type="button" onClick="closeDialog('confirm')" class="btn btn-primary">Mail</button>
        <button type="button" onClick="closeDialog('cancel')" class="btn btn-danger">Cancel</button>
      </div>
    </div>

  </div>
</div>






 <% include  ../partials/footer %>

 <script src="js/mailDemo/simg_modified.js" type="text/javascript"></script>
 <script src="js/mailDemo/horizontalBarChartBundle.js" type="text/javascript"></script> 
 <script src="js/mailDemo/mailCode.js" type="text/javascript"></script>
 
        