<% include  ../partials/header %>


	<h3><%= title %></h3>  

<div class="row">
 

<p>The form will fail if the string 'bozo' is found</p>




</div>


<div class="row">
 

<p>The form will fail if the string 'bozo' is found</p>




</div>


 <% include  ../partials/footer %>
 
 