<% include  ../partials/header %>


	<h3><%= title %></h3>  

<div class="row">
 

<p>Enter 'BIG' and/or 'BOZO' for a score</p>

 
</div>

<div class="row">
    <div class="col-sm-5">
        <table class="table table-striped"> 
        <tr><th>Input String:</th><td> <%= inputString %></td></tr>
        <tr><th>Message:</th><td> <%= message %></td></tr>
        <tr><th>Bozo Score:</th><td> <%= bozoScore %></td></tr>
        </table>
    </div>
</div>
 
 



 <% include  ../partials/footer %>
 
 