<% include  ../partials/header %>


	<h3><%= title %></h3>  

<div class="row">
<p>Demonstations of Error handling inspired by this
<a href="http://modernweb.com/2013/05/28/intro-to-express-js-parameters-error-handling-and-other-middleware/">
blog post</a> and this <a href="http://stackoverflow.com/questions/13133071/express-next-function-what-is-it-really-for">stackoverflow post</a>.
<ul>
<li><a href="/chainedRequestMain.doc">Chained Request Handlers</a></li>
<li><a href="/promisesDemo.doc">Error Handling in Promises</a></li>
<li><a href="/errorInRoute.doc">Handling Errors in Routes</a></li>
</ul> 




</div>





 <% include  ../partials/footer %>
 
 