<% include  ../partials/header %>
 <script src="js/jquery.js" type="text/javascript"></script> 
<script src="js/bluebird.js" type="text/javascript"></script> 
 <script src="js/promiseDemo.js" type="text/javascript"></script> 
	<h3><%= title %></h3>  

<div class="row">
<h4>Points To Consider</h4>
<ul>
<li>See this <a href="http://blog.taylormcgann.com/2014/08/21/catch-errors-javascript-promise-chains/">blog post</a></li>
<li>When using resolve/reject reject calls should be in the form reject(new Error(message))
This will be trapped in the catch clause below</li>
<li>Runtime errors will also be caught by the catch clause</li>
<li>See promiseDemo.js</li>
<li>A catch clause should be at the end of the chain to catch errors at the last</li>



</ul>

</div>


 <div class="row">

<div class="col-sm-2">
<button class="btn btn-primary" onclick="promiseDemo.showSuccess()">OK Path</button>
</div>

<div class="col-sm-3">
<button class="btn btn-primary" onclick="promiseDemo.showErrorInStart()">Issue Reject With Error</button>
</div>

<div class="col-sm-2">
<button class="btn btn-primary" onclick="promiseDemo.doRuntimeError()">Throw Error At Runtime</button>
</div>
</div>




<br/>
<div>

<ol id="resultArea">
</ol>

</div>


 

 <% include  ../partials/footer %>
 
 