/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2015, 11:58:32 AM
    Author     : dhenton
*/

div.folderContainer
{
    overflow-y:  scroll ;
    height: 250px;
    border:thin solid green
    
}