  <% include  ../../partials/header %>
      <link href="js/angular4/restaurant4Styles.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

      <h3>Angular4 Restaurant App</h3>  <span class="pull-right"><a target="_new" href="https://github.com/donhenton/angular4-restaurant">source</a></span>

        <restaurant-component>Loading...</restaurant-component>


<script src="js/angular4/inline.bundle.js" type="text/javascript"></script>
<script src="js/angular4/polyfills.bundle.js" type="text/javascript"></script>
<script src="js/angular4/vendor.bundle.js" type="text/javascript"></script>
<script src="js/angular4/main.bundle.js" type="text/javascript"></script>
 
<% include  ../../partials/footer %>             