<% include  ../partials/header %>
	 
 
	 
	<h3><%= title %></h3>


        <div class="well">
           cookies
        </div>
        <div class="well"> 
       
            <div class="row">
            
            </div>
        </div


 
 <% include  ../partials/footer %>