<header class="app-header">

    <nav class="navbar">
        <ul class="nav nav-tabs">
            <li>

                <a  ng-click="$event.preventDefault();
                            main.openAddDialog()"    href="#/">Add New Folder</a>

            </li>



            <li uib-dropdown on-toggle="toggled(open)">
                <a href  uib-dropdown-toggle>Bulk Loads<strong class="caret"></strong></a>

                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                    <li><a href="#/load-folders/images">Add Images To Folders</a></li>
                    <li><a href="#/load-folders/boards">Add Board To Folders</a></li>
                    <li><a href="#/load-folders/pins">Add Pins To Folders</a></li>
                </ul>





            </li>



            <li class="nav pull-right">

                <a  ng-click="$event.preventDefault();
                            main.saveData()"    href="#/">Save Changes</a>

            </li>

        </ul>
    </nav>
</header>


<div class="container"> 
   
    <div class="row" ng-if="main.results.length != 0">
        <h3>Morg Folders</h3>

        <div id="folderContainer" class="row col-sm-12 folderContainer">

            <span class="col-sm-4"  ng-repeat="item in main.results track by item.id" >

                <folder folder="item" />

            </span>

        </div>
    </div>

    <div class="row" ng-if="main.results.length == 0">

        <div class="well well-lg">You have not defined any morgue folders. Click on the Add button</div>

    </div>

 <div class="row">
        
        <h4>{{main.saveMessage}}</h4>
    </div>
</div>
