<header class="app-header">

    <nav class="navbar">
        <ul class="nav nav-tabs">
            <li  class="nav">

                <a  ng-click="$event.preventDefault();
                            main.openAddDialog()"    href="#/">Add New Folder</a>

            </li>

 

        </ul>
    </nav>
</header>


<div class="container"> 
   
    <div class="row" ng-if="main.results.length != 0">
        <h3>Morgue Folders</h3>

        <div id="folderContainer" class="row col-sm-12 folderContainer">

            <span class="col-sm-4"  ng-repeat="item in main.results track by item.id" >

                <folder folder="item" />

            </span>

        </div>
    </div>

    <div class="row" ng-if="main.results.length == 0">

        <div class="well well-lg">You have not defined any morgue folders. Click on the Add button</div>

    </div>

 <div class="row">
        
        <h4>{{main.saveMessage}}</h4>
    </div>
</div>
