<header class="app-header">

   

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Folder images for {{browseImages.folder.name}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li> <a href="#/">Return To Folder List</a></li>
                     

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> </li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>




</header>


<div class="row">
    <uib-pagination total-items="browseImages.totalImages" 
                    ng-model="browseImages.currentPage" 
                    items-per-page="browseImages.maxImages" 
                    ng-change="browseImages.pageChanged()"></uib-pagination>

</div>      


<div class="row"> 
    <span ng-repeat="imageItem in browseImages.imageBuffer track by imageItem.id" >

        <image-widget type="image" url="imageItem" />

    </span>
</div>


