  <% include  partials/header %>
<h3><%= title %></h3>

    




                        <div class="row  outline">

                            <div class="col span12">

                                Demonstrations of the <a href="http://www.embeddedjs.com/">
                                    Embedded JS Templating Language</a>. 
                                <br>
                                The controller for this list is in <b>embeddedJS.server.controller.js</b>

                                This list is created in the controller, and passed to the page to be
                                rendered here.
                            </div>
                        </div>
                        <div class="row  outline">
                            <div class="col span12 col-sm-offset-1">
                                <table class="table-bordered table-striped ta">
                                    <thead>
                                        <tr>
                                            <th class="tableHeader">Name</th>

                                        </tr>
                                    </thead>
        <ul>
            <% for(var i=0; i<supplies.length; i++) {%>
                <tr><td><%= supplies[i] %></td></tr>
            <% } %>
        </ul>
         </table>
        </div>
</div>

          <div class="row outline"> 
            <div class="col span12  col-sm-offset-1 ">

                <div class="row">
                  <div class="col">
                  In this case,the permissions variable is read from the query string
                  of the page url, and the button passes permissions = 'yes' or null
                  </div>
                </div>
                <div class="row">
                    <% if (permissions == 'yes') { %>
                        <div class="col-sm-3  separator">
                        <b><i>You have Permissions</i></b>
                        </div>
                        <div class="col-sm-4 separator">
                         <a href="/embeddedJS.doc" class="btn-primary btn">Drop Permissions</a>
                         </div>
                    <% } else { %>
                         <div class="col col-sm-3  separator">
                        <b><i>You don't have Permissions</i></b>
                        </div>
                         <div class="col span4  separator">
                        <a href="/embeddedJS.doc?permissions=yes" class="btn btn-primary">Click Here To Get Some</a>
                        </div>

                    <% } %>
                </div>
            </div>
        </div>
        
  <% include  partials/footer %>