 <% include  partials/header %>
	 

	 
	<h3>Node Application</h3>
        
        
        <section>
        This application demonstrates various aspects of NodeJS applications. 
        The server uses <a href="http://www.embeddedjs.com/">EJS</a> for templating.
        It explores routing, controllers and the use of require for modules.

        </section>

        <h3>Spring MVC3 Application</h3>
        <section>
        A Spring MVC demonstration application is available on  
        <a href="http://donhenton-springmvc3.herokuapp.com/">heroku</a>.
        

        </section>
 

         <!--

         <ul>
            <li><a href="/otherPage.bozo">OtherPage</a></li>
            <li><a href="/embeddedJS.bozo">Embedded JS Demos without Permissions</a></li>
            <li><a href="/embeddedJS.bozo?permissions=yes">Embedded JS Demos with Permissions</a></li>
            <li><a href="/restaurant.html">Angular Restaurant App</a></li>
         </ul>
         -->
    

 <% include  partials/footer %>