 <% include  partials/header %>
	 

	 
	<h3>Node Application</h3>
        
        
        <section>
        This application demonstrates various aspects of NodeJS applications. 
        The server uses <a href="http://www.embeddedjs.com/">EJS</a> for templating.
        It explores routing, controllers and the use of require for modules.
        Additionally, it demonstrates REST services with Node and Express, and
        Websockets with socket.io. Source code for this application is 
        available on <a href="https://github.com/donhenton/node-sandbox">Github</a>.

        </section>

        <h3>Spring MVC3 Application</h3>
        <section>
        A Spring MVC demonstration application is available on  
        <a href="http://donhenton-springmvc3.herokuapp.com/">heroku</a>.
        

        </section>
 

    
    

 <% include  partials/footer %>