<!DOCTYPE html>
<html>
<head>
  		<!-- Use the 'title' property to render a page title  -->
    	<title><%= title %></title>
</head>
<body>
	<!-- Load the static image file  -->
	<img src="img/logo.png" alt="Logo">

	<!-- Use the 'title' property to render a title element  -->
	<h1><%= title %></h1>
        

        <h3>Pages</h3>

         <ul>
            <li><a href="/otherPage.bozo">OtherPage</a></li>
            <li><a href="/embeddedJS.bozo">Embedded JS Demos without Permissions</a></li>
            <li><a href="/embeddedJS.bozo?permissions=yes">Embedded JS Demos without Permissions</a></li>
         </ul>

         <hr>


         <h3>Notes for Windows XP and Netbeans</h3>

         <p>The Nodejs plugin for Netbeans needs the following configuration
items</p>

<blockquote><code>
    <b>run command:</b> cd ${workingdir} &amp;&amp; node ${selectedfile}<br>
<b>kill command:</b> tskill node<br>

</code></blockquote>

</body>
</html>