 <% include  partials/header %>
	 
 
	 
	<h3><%= title %></h3>
        <p> Sample Steps for adding a page. This creates a separate 
            controller and router. <i>generic.server.routes.js</i> Uses
            only a router, with embedded controller code </p>
        <h5>Steps to Add This Non-static Page</h5>
        <ol>
            <li>Add controller to controllers folder</li>
            <li>Add route to routes folder</li>
            <li>Add template *.ejs file to views folder</li>


        </ol>
        
 <% include  partials/footer %>