 <% include  partials/header %>
	 
      
	 
	<h3><%= title %></h3>
        

        <div class="well">
        Below is a list of other demonstrations that are available for viewning.

    </div>

<h4><a target="_blank" href="http://donhenton.github.io/mountebank-UI/public_html/index.html">
    Mountebank UI</a></h4>

    <a  target="_blank" href="http://www.mbtest.org/">Mountebank</a> is a test double server. 
    This <a target="_blank"  href="http://donhenton.github.io/mountebank-UI/public_html/index.html">application is a UI</a> for composing test doubles in Mountebank's JSON
    based DSL.
         
        



        
 <% include  partials/footer %>