 <% include  partials/header %>
	 

	 

         <h3>Notes for Windows XP and Netbeans</h3>

         <p>The Nodejs plugin for Netbeans needs the following configuration
items</p>

<blockquote><code>
    <b>run command:</b> cd ${workingdir} &amp;&amp; node ${selectedfile}<br>
<b>kill command:</b> tskill node<br>

</code></blockquote>

 <% include  partials/footer %>