 

.glyphicon.glyphicon-folder-close {
    font-size: 75px;
    color: goldenrod;
}

.glyphicon.glyphicon-edit   {
    font-size: 25px;
    color: blue;
}
.glyphicon.glyphicon-remove-circle
{
    font-size: 25px;
    color: red;
}

.glyphicon.glyphicon-list-alt
{
    font-size: 25px;
    color: teal;
}

.folderTitle
{
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps
}
.folder 
{
    margin-left: 0px;
    padding-top: 20px;
    width: 250px;
     
}
