  <% include  ../../partials/header %>
      <link href="js/restaurant/restaurantStyles.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

      <h3>React Restaurant App</h3>  <span class="pull-right"><a hef="https://github.com/donhenton/react-restaurant">source</a></span>

        <div id="reactRestaurantContainer"></div>



<script src="js/restaurant/bundle.js"></script>
<% include  ../../partials/footer %>             