<% include  ../partials/header %>
	 

	 
	<h3><%= title %></h3>

<div>
This is a demonstration of ordering of promises in HTML5/ES6. It requires Chrome
browser to be functional.




</div>
 <script src="js/promiseDemos/orderDemo.js" type="text/javascript"></script> 
 <% include  ../partials/footer %>

 
 